.product-card{
    width: 18%;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    margin: 5px;
    float: left;

}
.product-card a {
    text-decoration: none;
    color: #000;
}
.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.product-description {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title, .card-subtitle {
    font-size: 16px;
    line-height: 1;
}
.h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fas fa-star{
    width: 20px;
  }